axians-loan-ws-web/src/main/resources/LoanWSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://ws.loan.axians.pt/" name="LoanWSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ws.loan.axians.pt/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://ws.loan.axians.pt/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="AuthorizationFault" nillable="true" type="xs:string"/>

      <xs:element name="emprestimoRequest" type="tns:emprestimoRequest"/>

      <xs:element name="emprestimoRequestResponse" type="tns:emprestimoRequestResponse"/>

      <xs:element name="filter" type="tns:filter"/>

      <xs:element name="filterList" type="tns:filterList"/>

      <xs:element name="loan" type="tns:loan"/>

      <xs:element name="loanList" type="tns:loanList"/>

      <xs:element name="token" nillable="true" type="tns:token"/>

      <xs:complexType name="emprestimoRequest">
        <xs:sequence>
          <xs:element name="filtros" type="tns:filterList" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="filterList">
        <xs:sequence>
          <xs:element name="filter" type="tns:filter" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="filter">
        <xs:sequence>
          <xs:element name="loanType" type="tns:loanType" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="token">
        <xs:sequence>
          <xs:element name="token" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="emprestimoRequestResponse">
        <xs:sequence>
          <xs:element name="emprestimos" type="tns:loanList" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="loanList">
        <xs:sequence>
          <xs:element name="emprestimo" type="tns:loan" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="loan">
        <xs:sequence>
          <xs:element name="tipo" type="xs:string" minOccurs="0"/>
          <xs:element name="taxa" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="loanType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Consigned"/>
          <xs:enumeration value="Personal"/>
          <xs:enumeration value="Guarantee"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
  </types>
  <message name="emprestimoRequest">
    <part name="parameters" element="tns:emprestimoRequest"/>
    <part name="token" element="tns:token"/>
  </message>
  <message name="emprestimoRequestResponse">
    <part name="result" element="tns:emprestimoRequestResponse"/>
  </message>
  <message name="AuthorizationFault">
    <part name="fault" element="tns:AuthorizationFault"/>
  </message>
  <portType name="LoanWS">
    <operation name="emprestimoRequest" parameterOrder="parameters token">
      <input wsam:Action="http://ws.loan.axians.pt/LoanWS/emprestimoRequestRequest" message="tns:emprestimoRequest"/>
      <output wsam:Action="http://ws.loan.axians.pt/LoanWS/emprestimoRequestResponse" message="tns:emprestimoRequestResponse"/>
      <fault message="tns:AuthorizationFault" name="AuthorizationFault" wsam:Action="http://ws.loan.axians.pt/LoanWS/emprestimoRequest/Fault/AuthorizationException"/>
    </operation>
  </portType>
  <binding name="LoanWSPortBinding" type="tns:LoanWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="emprestimoRequest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:emprestimoRequest" part="token" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AuthorizationFault">
        <soap:fault name="AuthorizationFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="LoanWSService">
    <port name="LoanWSPort" binding="tns:LoanWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

